<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello</h1>
    <div>
        
        <div>
            {% for order in orders %} 
            <p>{{order.count}}</p>
            <h3>{{order.car_id.car_no}}</h3>
            <p>{{order.customer_id.customer_name}}</p>
            {% endfor %}
         </div>
    </div>
</body>
</html>